.git
.eggs
eggs
lib
lib64
parts
sdist
var

checkpoint
checkpoints/
__pycache__/

preprocess.p
preprocess_batch_*.p
preprocess_training.p
preprocess_validation.p

.floydexpt
.DS_Store
.ipynb_checkpoints/
bin/
data/
